.App {
  margin-top: 5rem;
  form {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      border: 3px solid #1d1d1d;
      border-radius: 5px;
      font-size: 1.1rem;
      text-align: center;
      position: absolute;
      z-index: 1;
      outline: none;
    }
  }
}
.Weather {
  z-index: 0;
  background-image: linear-gradient(
    to left bottom,
    #030303,
    #100f10,
    #181818,
    #201f20,
    #282627
  );
  color: white;
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 20rem;
  border-radius: 5px;
  margin: 0 auto;
  position: relative;
  padding: 0.5rem;
  .temp {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 3rem;
  }
  .aside {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.8rem;
    i {
      width: 1.7rem;
    }
    .flex {
      display: flex;
    }
  }
  .icon-bg {
    text-align: center;
    font-size: 6rem;
    margin-top: 2rem;
  }
  .about {
    text-align: center;
    margin-top: 0.5rem;
  }
}
